[user]
	name = David Mougeolle
	mail = moodule@protonmail.com
	email = moodule@protonmail.com
[core]
	excludesfile = /home/corto/.gitignore
[branch "master"]
	mergeoptions = --no-ff
[diff "hex"]
	textconv = hexdump -v -C
[diff "word"]
	textconv = docx2txt
[diff "exif"]
	textconv = exif
